{% extends "base.html" %}

{% block content %}
<a href='/newgrid/'> Create new Grid ({{user.get_username}})</a>
{%if user.is_authenticated %}
    <a class="btn btn-default" href="accounts/logout/"> Logout </a>
{%endif%}

<h3> Create a robot </h3>
<form action="/" method="POST">
    {%csrf_token%}
    <table class="table">
    {{form}}
    </table>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<h3> Add some mineral </h3>
<form action="/senform/" method="POST">
    {%csrf_token%}
    <table class="table">
    {{sform}}
    </table>
    <button type="submit" class="btn btn-default">Submit</button>
</form>


<h3> Give instructions to process </h3>
<form action="process/" method = "POST">
    {%csrf_token%}
    <tr>
        <th>
            <label for="id_rovr">Rover id:</label>
        </th>
        <td>
            <input id="id_rovr" maxlength="100" name="rovr" type="text" />
        </td>
        </br>
        <input type="checkbox" name="upd" value="Update" default=on> Update pos?<br>
        <th>
            <label for="id_rovr">Grid id:</label>
        </th>
        <td>
            <input id="id_rovr" maxlength="100" name="grid" type="text" />
        </td>
        <th>
            <label for="id_rovr">Grid Pos x:</label>
        </th>
        <td>
            <input id="id_rovr" maxlength="100" name="grid_x" type="text" />
        </td>
        <th>
            <label for="id_rovr">Grid pos Y:</label>
        </th>
        <td>
            <input id="id_rovr" maxlength="100" name="grid_y" type="text" />
        </td>
        </br>
        </br>
        <th>
            <label for="id_rovr">Rover dirn:</label>
        </th>
        <td>
            <input id="id_rovr" maxlength="1" name="dirn" type="text" />
        </td>
        <th>
            <label for="id_inst">Instructions :</label>
        </th>
        <td>
            <input id="id_inst" maxlength="100" name="inst" type="text" />
        </td>
    </tr>
    <button type="submit" class="btn btn-default">Process</button>
</form>

{% endblock %}